html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #121212;
}
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
  width: 100%;
  overflow-x: hidden;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-top: 70px;
}
