<body>
  <app-navbar></app-navbar>
  <div class="login-container">
    <div class="card bg-dark text-light shadow-lg p-4" style="width: 100%; max-width: 400px;">
      <h3 class="text-center mb-4">Login</h3>
      <form (ngSubmit)="onSubmit()">
        <!-- Username -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username"
                 [(ngModel)]="username" required />
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <input
              [type]="mostrarPassword ? 'text' : 'password'"
              class="form-control"
              id="password"
              name="password"
              required
              [(ngModel)]="password" />
            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()" tabindex="-1">
              <i class="bi" [ngClass]="mostrarPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
        </div>

        <!-- Botón login -->
        <div class="d-grid">
          <button type="submit" class="btn btn-warning w-100">Login</button>
        </div>
      </form>

      <!-- Enlace para recuperar contraseña -->
      <div class="recover-link mt-3 text-center">
        <button type="button" class="recover-button" (click)="goToRecuperar()">¿Olvidaste tu contraseña?</button>
      </div>
      <div *ngIf="loginError" class="alert alert-danger text-center mt-4">
        Nombre de usuario o contraseña incorrectos.
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
